src/resources/dotbetwixt.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!-- $Id: dotbetwixt.dtd,v 1.5 2003/03/19 22:54:29 rdonkin Exp $ -->
<!-- The DTD for .betwixt files -->

<!ELEMENT attribute EMPTY>
<!ATTLIST attribute
    name CDATA #IMPLIED
    type CDATA #IMPLIED
    uri CDATA #IMPLIED
    value CDATA #IMPLIED
    property CDATA #IMPLIED
  >

<!ELEMENT addDefaults EMPTY>

<!ELEMENT element (attribute|addDefaults|element|text)*>
<!ATTLIST element
    name CDATA #REQUIRED
    type CDATA #IMPLIED
    uri CDATA #IMPLIED
    value CDATA #IMPLIED
    property CDATA #IMPLIED
  >

<!-- Use for mixed content text -->
<!ELEMENT text EMPTY>
<!-- If you specify value, you cannot specify type or property -->
<!ATTLIST text
    type CDATA #IMPLIED
    value CDATA #IMPLIED
    property CDATA #IMPLIED
  >

<!ELEMENT hide EMPTY>
<!ATTLIST hide
    property CDATA #REQUIRED
  >
  
<!ELEMENT info (hide|element)*>
<!ATTLIST info
    primitiveTypes (element|attribute) "attribute"
  >
