src/resources/dotbetwixt.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!-- $Id: dotbetwixt.dtd,v 1.6 2003/04/08 13:41:40 rdonkin Exp $ -->
<!-- The DTD for .betwixt files -->

<!ELEMENT attribute EMPTY>
<!ATTLIST attribute
    name CDATA #IMPLIED
    type CDATA #IMPLIED
    uri CDATA #IMPLIED
    value CDATA #IMPLIED
    property CDATA #IMPLIED
  >

<!ELEMENT addDefaults EMPTY>

<!--
    Represents an element in the xml.
    An element may be mapped to properties of the bean
    (when it has a property attribute)
    or it can be purely structure (when it does not)
    
    the updater attribute can be used 
    (in conjunction with the property attribute) to specify a custom update
    method.
-->
<!ELEMENT element (attribute|addDefaults|element|text)*>
<!ATTLIST element
    name CDATA #REQUIRED
    type CDATA #IMPLIED
    uri CDATA #IMPLIED
    value CDATA #IMPLIED
    property CDATA #IMPLIED
    updater CDATA #IMPLIED
  >

<!-- Use for mixed content text -->
<!ELEMENT text EMPTY>
<!-- If you specify value, you cannot specify type or property -->
<!ATTLIST text
    type CDATA #IMPLIED
    value CDATA #IMPLIED
    property CDATA #IMPLIED
  >

<!ELEMENT hide EMPTY>
<!ATTLIST hide
    property CDATA #REQUIRED
  >
  
<!ELEMENT info (hide|element)*>
<!ATTLIST info
    primitiveTypes (element|attribute) "attribute"
  >
