src/test/org/apache/commons/betwixt/schema/simplest-bean-element.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3c.org/2001/XMLSchema'>
	<xsd:complexType name='org.apache.commons.betwixt.schema.SimplestBean'>
		<xsd:sequence>
			<xsd:element name='name' type='xsd:string'>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name='SimplestBean' type='org.apache.commons.betwixt.schema.SimplestBean'>
	</xsd:element>
</xsd:schema>